@font-face {
    font-family: 'AgencyFBBold';
    src: url('https://raw.githubusercontent.com/dynamocha/AgencyFBBold/blob/main/AgencyFBBold.otf') format('otf'),
      url('https://raw.githubusercontent.com/dynamocha/AgencyFBBold/blob/main/AgencyFBBold.ttf') format('ttf'),
      url('https://raw.githubusercontent.com/dynamocha/AgencyFBBold/blob/main/agency.wof') format('wof');
    font-weight: 700;
    font-style: normal;
} 